<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <form action="/guess", method="post">
            <input type="text" name="guess">
            <button type="submit">Submit</button>
        </form>
        <div class="box">
            <div class="box1" {{ color }}>
                <p> {{ msg }} </p>
                
            </div>
            <form action="/reset", method="post">
                <input type="submit" name ="reset" value="Reset">
            </form>
        </div><br>
        
    </div>
</body>
<style>
    body{
        text-align: center;
    }
    .box1{
        height: 200px;
        width: 200px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        display: inline-flex;
        justify-content: center;
    }
</style>
</html>