*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 800px;
    height: 500px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
   }
   #header{
    height: 125px;
    background-color: green;
    margin: 10px;
   }
   #navigation, #main_content{
       vertical-align: top;
       display: inline-block;
   }
   #navigation{
    height: 250px;
    width: 200px;
    background-color: blue;
    margin: 10px;
   }
   #main_content{
    height: 325px;
    width: 555px;
    background-color: red;
    margin: 10px;
   }
   .sub1, .sub2, .sub3{
    height: 150px;
    width: 150px;
    background-color: yellow;
    vertical-align: top;
    display: inline-block;
    margin: 10px;
   }
   #advertisement{
    height: 100px;
    width: 500px;
    background-color: purple;
    margin: 10px;
   }