<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Created Page</title>
</head>
<body>
    <div class="container">
        <h1>Confirmation</h1>
        <p>Name: {{ request.form['name'] }}</p>
        <p>Email: {{ request.form['email'] }}</p>
        <a href="/" class="btn btn-secondary">Go Back</a>
    </div>
</body>
<style>
    h1{
        text-align: center;
    }
</style>
</html>