<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>Amadon Checkout</title>
</head>
<body>
    <div class="container"><br>
        <h3>Thank you for your business!</h3><br>
        <p>We charged your credit card for ${{ total }}</p>
        <p>You have ordered {{ counter|floatformat:0  }} items so far and spent ${{ sum|floatformat:2 }} with Amadon.com!</p><br>
        <a href="/">Go Back</a>
    </div>
</body>
</html>