<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey Model</title>
    
</head>
<body>
    <div class="container">
        <form class="form" action="survey" method="post">
            <label for="Name">Your Name:</label>
            <input type="text" name="Name"><br><br>
            <label for="Location">Dojo Location:</label>
            <input type="text" name="Location"><br><br>
            <label for="Language">Favorite Language:</label>
            <input type="text" name="Language"><br><br>
            <label for="Comment">Comment:</label>
            <textarea name="Comment" cols="30" rows="4"></textarea><br><br>
            <button>Submit</button>
        </form>
    </div>
</body>
<style>
    .form{
        margin: 20px;
    }
</style>
</html>
