<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Epic Button Game</title>
</head>
<script>
$(document).ready(function (){
    var socket = io.connect();
    $('#epic_butt').click(function() {
        socket.emit("epic_clicked");
    });
    socket.on('epic_response', function(data){
        $('#count').html(data.response)
    });
    $('#epic_reset').click(function() {
        socket.emit("reset_clicked");
    });
});
</script>
<body>
    <div class="container">
        <table>
            <tr>
                <td><b>The button has been pushed <span id="count">0</span> time(s)!</b></td>
                <td></td>
            </tr>
            <tr>
                <td>Push the button to update the count!</td>
            </tr>
            <tr>
                <td>
                    <input id="epic_butt" class='btn btn-primary' type="submit" value="Push the epic button!" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="epic_reset" class='btn btn-danger' type="submit" value="Reset count!" />
                </td>
            </tr>
        </table>  
    </div>
</body>
</html>