<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <td><b>All Products</b></td>
        </tr>
        @foreach (var product in @Model.allProducts) {
        <tr>
            <td>
                <a href="products/@product.ProductId">@product.Name</a>
            </td>
        </tr>
        }
    </table><br>
    <table class="table table-striped">
        <tr>
            <td><b>All Categories</b></td>
        </tr>
        @foreach (var category in @Model.allCategories) {
        <tr>
            <td>
                <a href="categories/@category.CategoryId">@category.Name</a>
            </td>
        </tr>
        }
    </table>
</body>
</html>