<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
</head>
<body>
    <p>The current time and date:</p>
    <h1>{{ day }}<br>{{ time }}</h1>
</body>
<style>
    *{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        text-align: center;
    }
    p{
        border: 2px solid black;
        padding: 10px;
        width: 200px;
    }
    h1{
        border: 2px solid black;
        padding: 10px;
        width: 400px;
    }
</style>
</html>